.app { min-height: 100vh; display: flex; flex-direction: column; }

.app .header { background-color: #1C1C21; }

.app .main   { flex-grow: 1; width: 1240px; margin: 0 auto;  display: flex; justify-content: space-between; gap: 40px; }
.app .main .ingredients   { flex-basis: 600px; padding-top: 40px; }
.app .main .constructor   { flex-basis: 600px; padding-top: 100px; }
