
.modal { border-radius: 2em; width: 720px; min-height: 540px; background-color: #000; box-shadow: 0 0 200px #8585AD; padding: 40px; position: relative; }
.modal .close { position: absolute; top: 40px; right: 40px; cursor: pointer; }